{include file="$labeltempl" /}
<div class="col-md-{$size[1]} checkbox-div" id="{$id}">
    {if condition="$checkallBtn"}
    <label class="lyear-checkbox m-t-10 m-b-10 {$class}">
        <input type="checkbox" class="checkall" id="checkall-{$name}"
            data-check="check-{$name}"><span>全选</span>
    </label>
    {/if}
    {volist name="options" id="option"}
    <label class="{$inline} {$class}">
        <input type="checkbox" value="{$key}" class="check-{$name}" {in
            name="$key" value="$checked" }checked{/in}
            id="{$id}-{$key}" name="{$name}[]" {$attr|raw}><span>{$option}</span>
    </label>
    {/volist}
    {include file="$helptempl" /}
</div>