{include file="$labeltempl" /}
<div class="col-md-{$size[1]}">
    <div class="input-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {$befor|raw}
        <input type="hidden" class="daterange {$class}" value="{$value}" name="{$name}" id="{$id}" {$attr|raw}>
        <input class="form-control daterange-start {$class}" type="text" id="{$id}-start" placeholder="从" {$attr|raw}>
        <span class="input-group-addon"><i class="mdi mdi-minus"></i></span>
        <input class="form-control daterange-end {$class}" type="text" id="{$id}-end" placeholder="至" {$attr|raw}>
        {$after|raw}
    </div>
    {include file="$helptempl" /}
</div>