{include file="$labeltempl" /}
<div class="col-md-{$size[1]} clearfix">
    <select class="form-control {$class}" name="{$name}[]" id="{$id}" multiple="multiple"
        data-selected="{$dataSelected}" {$attr|raw}>
        {if condition="$group"}
        {volist name="options" id="group"}
        <optgroup label="{$group.label}">
            {volist name="group.options" id="option"}
            <option value="{$key}" {in name="'-'.$key" value="$checked" }selected{/in} {in name="'-'.$key"
                value="$disabledOptions" }style="color:#ccc;cursor:not-allowed"
                title="{:__blang('bilder_option_was_disabled')}" disabled{/in}>{$option}</option>
            {/volist}
        </optgroup>
        {/volist}
        {else/}
        {volist name="options" id="option"}
        <option value="{$key}" {in name="'-'.$key" value="$checked" }selected{/in} {in name="'-'.$key"
            value="$disabledOptions" }style="color:#ccc;cursor:not-allowed"
            title="{:__blang('bilder_option_was_disabled')}" disabled{/in}>{$option}</option>
        {/volist}
        {/if}
    </select>
    {include file="$helptempl" /}
</div>