{include file="$labeltempl" /}
<div class="col-md-{$size[1]}">
    <div class="js-upload-files">
        <input type="hidden" name="{$name}" class="form-control {$class}"
            value="{$value}" id="{$id}" {$attr|raw}>
        <div id="picker_{$name}">上传{if condition="$jsOptions.multiple"}多{else/}单{/if}个文件</div>
        <!--ul用来撒谎功能预览-->

        <ul id="file_list_{$name}" class="list-inline clearfix lyear-uploads-pic">
            <!--初始化一个已上传成功的-->
            {volist name="files" id="file"}
            <li class="col-xs-6 col-sm-3 col-md-2 pic-item" id="flie{$key}">
                <figure>
                    <img style="display: none;" class="preview-img" src="{$file}" />
                    <figcaption>
                        <a class="btn btn-round btn-square btn-primary
                            btn-link-pic" data-id="file{$key}"
                            href="{$file}"><i class="mdi mdi-eye"></i></a>
                        <a class="btn btn-round btn-square btn-danger
                            btn-remove-pic" href="javascript:;"><i class="mdi
                                mdi-delete"></i></a>
                    </figcaption>
                </figure>
            </li>
            {/volist}
        </ul>
    </div>
    <script>
        var jsOptions = {$jsOptions|json_encode|raw};

        if(!window.uploadConfigs)
        {
            window.uploadConfigs = [];
        }

        window.uploadConfigs['{$name}']= jsOptions;

    </script>
    {include file="$helptempl" /}
</div>