{include file="$labeltempl" /}
<div class="col-md-{$size[1]} ">
    <div class="js-upload-files" data-name="{$name}">
        {if condition="$canUpload"}
        <div class="input-group col-md-12">
            <input type="text" class="form-control {$class} file-url-input"
            placeholder="{$placeholder|default='请上传'.$label}" value="{$value}" name="{$name}" id="{$id}"
            {$attr|raw}>
            <span title="点击上传新文件" class="input-group-addon opt-btn" onclick="$('#picker_{$name} .webuploader-element-invisible').trigger('click')"><i class="mdi mdi-folder-open"></i>上传</span>
            {if condition="$showChooseBtn"}
            <span title="点击选择已经上传的文件" class="input-group-addon opt-btn" onclick="chooseFile('{$id}' ,'{$name}')"><i class="mdi mdi mdi-file-find"></i>选择</span>
            {/if}
            <div style="display: none;"><a id="picker_{$name}"></a></div>
        </div>
        {/if}
        <ul id="file_list_{$name}" class="pull-left list-inline lyear-uploads-pic">
            {volist name="files" id="file"}
            <li class="pic-item" id="flie{$key}">
                <figure>
                    <div>
                        <img style="display: none;" class="preview-img" src="{$file}" />
                    </div>
                    <figcaption>
                        <a class="btn btn-xs btn-round btn-square btn-primary
                            btn-link-pic" data-id="{$key}" href="{$file}"><i class="mdi mdi-eye"></i></a>
                        {if condition="$canUpload"}
                        <a class="btn btn-xs btn-round btn-square btn-danger
                            btn-remove-pic" data-id="{$key}" data-url="{$file}" href="javascript:;"><i class="mdi
                                mdi-delete"></i></a>
                        {/if}
                    </figcaption>
                </figure>
            </li>
            {/volist}
        </ul>
    </div>
    <script>
        var jsOptions = JSON.parse('{$jsOptions|json_encode|raw}')

        if (!window.uploadConfigs) {
            window.uploadConfigs = [];
        }

        window.uploadConfigs['{$name}'] = jsOptions;
    </script>
    {include file="$helptempl" /}
</div>