{include file="$labeltempl" /}
<div class="col-md-{$size[1]} radio-div" id="{$id}">
    {volist name="options" id="option"}
    <label class="{$inline} {$blockStyle} {$class} radio-label" {in name="'-'.$key" value="$disabledOptions"
        }style="color:#ccc;cursor:not-allowed" title="选项禁用" {/in} {in name="'-'.$key" value="$readonlyOptions" }style="color:#ccc;cursor:not-allowed"
        title="选项只读" {/in}>
        <input type="radio" value="{$key}" class="check-{$id}" {if condition="'-'.$key eq $checked" }checked{/if} {in
            name="'-'.$key" value="$disabledOptions" } disabled{/in} {in name="'-'.$key" value="$readonlyOptions" }
            readonly onclick="return false;" {/in} id="{$id}-{$key}" name="{$name}"
            {$attr|raw}><span>{$option|raw}</span>
    </label>
    {/volist}
    {include file="$helptempl" /}
</div>