{extend name="$admin_layout"/}

{block name="style"}
<link rel="stylesheet" href="__MODULE__/js/dropzone/min/basic.min.css" />
<link rel="stylesheet" href="__MODULE__/js/dropzone/min/dropzone.min.css" />
{/block}

{block name="content"}
<div class="row">
      <div id="dropzone-elm" style="width: 220px; margin: 0 auto;" class="dropzone"></div>
</div>

{/block}

{block name="script"}
<script type="text/javascript" src="__MODULE__/js/dropzone/min/dropzone.min.js" charset="utf-8"></script>
<script type="text/javascript">
 $(function() {
       // 默认使用情况
    $("#dropzone-elm").dropzone({
        url: "{$uploadUrl}",
        method: "post",  // 也可用put
        paramName: "file", // 默认为file
        maxFiles: 1,// 一次性上传的文件数量上限
        maxFilesize: 200, // 文件大小，单位：MB
        acceptedFiles: "{$acceptedExts}", // 上传的类型
        addRemoveLinks: false,
        parallelUploads: 1,// 一次上传的文件数量
        dictDefaultMessage: '拖动文件至此或者点击上传',
        dictMaxFilesExceeded: "您最多只能上传1个文件！",
        dictResponseError: '文件上传失败!',
        dictInvalidFileType: "文件类型只能是{$acceptedExts}。",
        dictFallbackMessage: "浏览器不受支持",
        dictFileTooBig: "文件过大上传文件最大支持.",
        dictRemoveLinks: "删除",
        dictCancelUpload: "取消",
        init: function () {
            this.on("addedfile", function (file) {
                // 上传文件时触发的事件
            });
            this.on("success", function (file, data) {
                data = JSON.parse(data);
                location.href ='{$successUrl}?fileurl=' + encodeURI(data.picurl);
                // 上传成功触发的事件
            });
            this.on("error", function (file, data) {
                // 上传失败触发的事件
                parent.lightyear.notify('出现错误-'+ data, 'danger');
            });
        }
    });
    Dropzone.autoDiscover = false;
});
</script>
{/block}