{extend name="$admin_layout"/}

{block name="style"}

{/block}

{block name="content"}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h4>{$title}<small>{$desc}</small></h4></div>
      <div class="card-body">
        {volist name="rows" id="row"}
        <div class="row">
            {volist name="row->cols" id="col"}
            <div class="col-md-{$col->size}">
              {volist name="col->elms" id="elm"}
                {:$elm->render()}
              {/volist}
            </div>
            {/volist}
        </div>
      {/volist}
      </div>
    </div>
  </div>
</div>
{/block}

{block name="script"}

{/block}
</body>
</html>