{extend name="$admin_layout"/}

{block name="style"}
{volist name="css" id="item"}
<link href="{$item}" rel="stylesheet">
{/volist}
<style>
  {$stylesheet|raw}

</style>
{/block}

{block name="content"}
<div class="panel panel-default content">
  {notempty name="$title"}
  <div class="panel-heading content-header">
    <h4 class="panel-title">
      {$title|raw}
      {notempty name="$desc"}
      <small> - {$desc|raw}</small>
      {/notempty}
    </h4>
  </div>
  {/notempty}
  <div class="panel-body page-main">
    {volist name="rows" id="row"}
        {:$row->render()}
    {/volist}
  </div>
</div>
<script type="text/javascript">
  window.__blang = JSON.parse('{$__blang|raw}');
</script>
{/block}
{block name="script"}
{volist name="js" id="item"}
  <script type="text/javascript" src="{$item}" charset="utf-8"></script>
{/volist}
<script type="text/javascript">
    $(function(){

      {$script|raw}
      
    });
</script>
<div class="hidden" id="script-div"></div>
{/block}