{extend name="$admin_layout"/}

{block name="style"}
{volist name="css" id="item"}
<link href="{$item}" rel="stylesheet">
{/volist}
<style>
  {$style|raw}

</style>
{/block}

{block name="content"}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h4>{$title}<small>{$desc}</small></h4></div>
      <div class="card-body">
        {volist name="rows" id="row"}
        <div class="row">
            {volist name="row->getCols()" id="col"}
            <div class="col-md-{$col->getSize()}">
              {volist name="col->getElms()" id="elm"}
                {:$elm->render()}
              {/volist}
            </div>
            {/volist}
        </div>
      {/volist}
      </div>
    </div>
  </div>
</div>
{/block}

{block name="script"}
{volist name="js" id="item"}
  <script type="text/javascript" src="{$item}" charset="utf-8"></script>
{/volist}
<script type="text/javascript">
    $(function(){

      {$script|raw}
      
    });
</script>
{/block}
</body>
</html>