<div id="{$id}" class="row">
    <form action="{$action}" method="{$method|default='POST'}" enctype="multipart/form-data"
        class="{$class} {$attr|raw}">

        {volist name="rows" id="row"}
        {if condition="$row instanceof tpext\builder\common\Tab"}
        <div class="col-md-12">
            {:$row->render()}
        </div>
        {elseif condition="$row instanceof tpext\builder\form\step"}
        <div class="col-md-12">
            {:$row->render()}
        </div>
        {else/}
        <div class="form-group col-md-{$row->getColSize()} {$row->getClass()}
            {$row->getErrorClass()}" {$row->getAttrWithStyle()|raw}>
            {:$row->render()}
        </div>
        {/if}
        {/volist}
    </form>
    <div class="col-md-12">
        <div id="help-block" class="help-block hidden has-error text-center">
            <label class="error-label control-label"></label>
        </div>
    </div>
    <script>
        if (!window.forms) {
            window.forms = [];
        }

        window.forms['{$id}'] = {
            ajax: '{$ajax}' == '1',
            search: '{$search}',
            export: 0,
            action: '{$action}',
            formSubmit: function () {
                lightyear.loading('hide');
                var that = this;
                if (!that.export && that.ajax) {
                    lightyear.loading('show');

                    var data = $('#{$id} form').serialize();

                    $.ajax({
                        url: '{$action}' || location.href,
                        data: data,
                        type: 'POST',
                        dataType: 'html',
                        success: function (data) {
                            setTimeout(function () {
                                lightyear.loading('hide');
                            }, 500);
                            if (/^\{.+\}$/.test(data)) {
                                data = JSON.parse(data);
                                if (data.status || data.code) {
                                    if (data.layer_close) {
                                        that.closeLayer(data.msg || data.message || '操作成功！');
                                    } else if (data.layer_close_refresh) {
                                        that.closeLayerRefresh(data.msg || data.message || '操作成功！');
                                    } else if (data.layer_close_go) {
                                        that.closeLayerGo(data.msg || data.message || '操作成功！', data
                                            .layer_close_go);
                                    } else if (data.script) {
                                        if ($('#script-div').size()) {
                                            $('#script-div').html(data.script);
                                        } else {
                                            $('body').append(
                                                '<div class="hidden" id="script-div">' + data
                                                .script + '</div>');
                                        }
                                    } else if (data.url) {
                                        lightyear.notify(data.msg || data.message || '操作成功！',
                                            'success');

                                        setTimeout(function () {
                                            location.replace(data.url);

                                        }, data.wait * 1000 || 2000);
                                    } else {
                                        lightyear.notify(data.msg || data.message || '操作成功！',
                                            'success');
                                    }
                                } else {
                                    lightyear.notify(data.msg || data.message || '操作失败', 'warning');
                                }
                            } else {
                                $('#' + that.search).replaceWith(data);
                            }
                        },
                        error: function () {
                            lightyear.loading('hide');
                            lightyear.notify('网络错误', 'danger');
                        }
                    });

                    return false;
                }

                return true;
            },
            exportPost: function (url, file_type) {
                this.export = 1;
                lightyear.loading('show');
                var form = $('#{$id} form');
                form.attr('action', url);

                var values = [];
                $("input.table-row:checked").each(function (i, e) {
                    values.push($(e).val());
                });

                var __file_type__ = document.createElement("input");
                __file_type__.type = "hidden";
                __file_type__.id = "__file_type__";
                __file_type__.name = '__file_type__';
                __file_type__.value = file_type || '';
                form.append(__file_type__);

                var __ids__ = document.createElement("input");
                __ids__.type = "hidden";
                __ids__.id = "__ids__";
                __ids__.name = '__ids__';
                __ids__.value = values.join(',');
                form.append(__ids__);

                form.trigger('submit');

                form.attr('action', this.action);
                $(__ids__).remove();
                $(__file_type__).remove();
                this.export = 0;

                setTimeout(function () {
                    lightyear.loading('hide');
                }, 2000);
            },
            closeLayer: function (msg) {
                if (parent) {
                    parent.lightyear.notify(msg, 'success');
                    if (parent.layer) {
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }
                } else {
                    lightyear.notify(msg, 'success');
                }
            },
            closeLayerRefresh: function (msg) {
                if (parent) {
                    parent.lightyear.notify(msg, 'success');
                    if (parent.layer) {
                        if (parent.$('.search-refresh').size()) {
                            parent.$('.search-refresh').trigger('click');
                        } else {
                            parent.location.reload();
                        }
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }
                } else {
                    lightyear.notify(msg, 'success');
                }
            },
            closeLayerGo: function (msg, url) {
                if (parent) {
                    parent.lightyear.notify(msg, 'success');
                    if (parent.layer) {
                        parent.location.replace(url);
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);
                    }
                } else {
                    lightyear.notify(msg, 'success');
                }
            }
        };
    </script>
</div>