{notempty name="toolbar"}
<div class="row m-b-10 m-l-10">
    {:$toolbar->render()}
</div>
{/notempty}

<div id="{$id}" class="row">
    <table class="table {$class}" {$attr|raw}>
        {notempty name="$headers"}
        <thead>
            <tr>
                {if condition="$rowCheckbox"}
                <th class="table-checkbox">
                    <label class="lyear-checkbox checkbox-primary">
                        <input type="checkbox" id="checkall-{$name}"
                            data-check="check-{$name}" class="checkall
                            table-row-checkall"><span></span>
                    </label>
                </th>
                {/if}
                {volist name="headers" id="header"}
                <th class="{$headTextAlign}">{$header}</th>
                {/volist}
                {notempty name="$actionbars"}
                <th class="{$headTextAlign}">{$actionRowText|raw}</th>
                {/notempty}
            </tr>
        </thead>
        {/notempty}
        <tbody>
            {volist name="list" id="row"}
            <tr class="table-row-id" data-id="{$ids[$key]}">
                {if condition="$rowCheckbox"}
                <td class="table-checkbox {$verticalAlign} {$textAlign}">
                    <label class="lyear-checkbox checkbox-primary">
                        <input type="checkbox" id="{$name}-{$key}"
                            value="{$ids[$key]}"
                            class="check-{$name} table-row"><span></span>
                    </label>
                </td>
                {/if}
                {foreach name="row" id="col" key="co"}
                <td class="col-md-{$col.wapper->getColSize()} {$verticalAlign}
                    {$textAlign} {$col.wapper->getClass()}"
                    {$col.wapper->getAttr()|raw}>
                    {$col.value|raw}
                </td>
                {/foreach}
                {notempty name="$actionbars"}
                <td class="text-center row-__action__ {$verticalAlign}
                    {$textAlign}">
                    {$actionbars[$key]|raw}
                </td>
                {/notempty}
            </tr>
            {/volist}
        </tbody>
    </table>
    {empty name="$data"}
    <div>
        {$emptyText|raw}
    </div>
    {/empty}
    {notempty name="paginator"}
    <nav class="{:$paginator->getClass()}" {:$paginator->getAttr()}>
        {:$paginator->render()}
    </nav>
    {/notempty}
    <script>
        var partial = {$partial};
        if(partial)
        {
            $('#form-__page__').val('{$paginator->currentPage()}');
            
            $('#{$id} input.checkall').each(function (i, e) {
                var checkall = $(e);
                var checkboxes = $('.' + checkall.data('check'));
                var count = checkboxes.size();

                checkall.on('change', function () {
                    checkboxes.prop('checked', checkall.is(':checked'));
                });

                checkboxes.on('change', function () {
                    var ss = 0;
                    checkboxes.each(function (ii, ee) {
                        if ($(ee).is(':checked')) {
                            ss += 1;
                        }
                    });
                    checkall.prop('checked', ss == count);
                });
            });

            $('#{$id} input.table-row-checkall').trigger('change');
        }
    </script>
</div>
