.form-horizontal .checkbox-inline,
.form-horizontal .radio-inline {
    padding-top: 0;
    margin-top: 10px;
}

form.search-form .form-group {
    margin-left: 0;
    margin-right: 0;
}

.checkbox-div,
.radio-div {
    min-height: 38px;
}

.vertical-middle,
.table>tbody>tr>td.vertical-middle {
    vertical-align: middle;
}

.vertical-top,
.table>tbody>tr>td.vertical-top {
    vertical-align: top;
}

.vertical-bottom,
.table>tbody>tr>td.vertical-bottom {
    vertical-align: bottom;
}

.raw
{
    min-height: 38px;
    line-height: 38px;
}